.cart__title{
   color: #fff ;
   font-size: 25px ;
}
.cart__item{
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
   background: #38383f;
   padding: 15px;
}
.cart__price{
   color: #fff;
   font-size: 20px;
   margin-top: 8px;
}
.remove__btn{
   margin-top: 55px;
}