.form-admin {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
}
.form-admin__title{
    display: block;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 26px;
}
.form-admin__img{
    display: block;
    padding-bottom: 48px;
}
.wrap-input__form{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.wrap-input{
    width: 100%;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
    input{
        border: none;
        outline: none;
    }
}
.wrap-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}
.button-form{
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
}
.button-form__bg{
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #a64bf4;
    background: -webkit-linear-gradient( 90deg,
    #ff55a5 0%,
    #ff5860 100%);
    top: 0;
    left: -100%;
    transition: all 0.4s;
}
.button-btn{
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
}
.form-text__c{
    padding-top: 115px;
    text-align: center;
}
.txt1{
    font-size: 13px;
    color: #666666;
    line-height: 1.5;
}
.txt2{
    font-size: 13px;
    color: #333333;
    line-height: 1.5;
}